
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/User/_Layout.cshtml";
}
<section class="gray pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="dashboard-navbar">
                    <div class="d-user-avater">
                        <img src="~/img/user-3.jpg" class="img-fluid avater" alt="">
                        <h4> name </h4>
                        <span>هنرجو</span>
                        <div class="elso_syu89">
                            <ul>
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter"></i></a></li>
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                                <li><a href="#"><i class="ti-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="d-navigation">
                        <ul id="side-menu">
                            <li class="active"><a href="dashboard.html"><i class="fas fa-th"></i>پیشخوان</a></li>
                            <li class="dropdown">
                                <a href="javascript:void(0);"><i class="fas fa-shopping-basket"></i>دوره های آموزش<span class="ti-angle-left"></span></a>
                                <ul class="nav nav-second-level">
                                    <li><a href="manage-course.html">لیست دوره ها</a></li>
                                    <li><a href="course-category.html">دسته بندی دوره</a></li>
                                </ul>
                            </li>
                            <li><a href="my-profile.html"><i class="fas fa-address-card"></i>پروفایل کاربری</a></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-lg-9 col-md-9 col-sm-12">
                
                <!-- --------------------------------------------------------------- -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 pb-4">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">خانه</a></li>
                                <li class="breadcrumb-item active" aria-current="page">پیشخوان</li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <h5>دوره های من</h5>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="grousp_crs">
                                    <div class="grousp_crs_left">
                                        <div class="grousp_crs_thumb"><img src="~/img/c-7.png" class="img-fluid" alt="" /></div>
                                        <div class="grousp_crs_caption"><h4>Adobe Photoshop cc 2021 - آموزش رایگان Assential</h4></div>
                                    </div>
                                    <div class="grousp_crs_right">
                                        <div class="frt_125"><i class="fas fa-fire text-warning ml-1"></i>8.7</div>
                                        <div class="frt_but"><a href="#" class="btn text-white theme-bg">مشاهده دوره</a></div>
                                    </div>
                                </div>
                                <div class="grousp_crs">
                                    <div class="grousp_crs_left">
                                        <div class="grousp_crs_thumb"><img src="~/img/c-6.png" class="img-fluid" alt="" /></div>
                                        <div class="grousp_crs_caption"><h4>Adobe Photoshop cc 2021 - آموزش رایگان Assential</h4></div>
                                    </div>
                                    <div class="grousp_crs_right">
                                        <div class="frt_125"><i class="fas fa-fire text-warning ml-1"></i>8.7</div>
                                        <div class="frt_but"><a href="#" class="btn text-white theme-bg">مشاهده دوره</a></div>
                                    </div>
                                </div>
                                <div class="grousp_crs">
                                    <div class="grousp_crs_left">
                                        <div class="grousp_crs_thumb"><img src="~/img/c-5.png" class="img-fluid" alt="" /></div>
                                        <div class="grousp_crs_caption"><h4>Adobe Photoshop cc 2021 - آموزش رایگان Assential</h4></div>
                                    </div>
                                    <div class="grousp_crs_right">
                                        <div class="frt_125"><i class="fas fa-fire text-warning ml-1"></i>8.7</div>
                                        <div class="frt_but"><a href="#" class="btn text-white theme-bg">مشاهده دوره</a></div>
                                    </div>
                                </div>
                                <div class="grousp_crs">
                                    <div class="grousp_crs_left">
                                        <div class="grousp_crs_thumb"><img src="~/img/c-4.png" class="img-fluid" alt="" /></div>
                                        <div class="grousp_crs_caption"><h4>Adobe Photoshop cc 2021 - آموزش رایگان Assential</h4></div>
                                    </div>
                                    <div class="grousp_crs_right">
                                        <div class="frt_125"><i class="fas fa-fire text-warning ml-1"></i>8.7</div>
                                        <div class="frt_but"><a href="#" class="btn text-white theme-bg">مشاهده دوره</a></div>
                                    </div>
                                </div>
                                <div class="grousp_crs">
                                    <div class="grousp_crs_left">
                                        <div class="grousp_crs_thumb"><img src="~/img/c-3.png" class="img-fluid" alt="" /></div>
                                        <div class="grousp_crs_caption"><h4>Adobe Photoshop cc 2021 - آموزش رایگان Assential</h4></div>
                                    </div>
                                    <div class="grousp_crs_right">
                                        <div class="frt_125"><i class="fas fa-fire text-warning mr-1"></i>8.7</div>
                                        <div class="frt_but"><a href="#" class="btn text-white theme-bg">مشاهده دوره</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
