@model System.Web.Mvc.HandleErrorInfo
@{ViewBag.Title = "Error";
Layout = "~/Views/Shared/_Layout.cshtml";}
<!--==============================================================-->
<!-- Top header  -->
<!-- ============================ User Dashboard ================================== -->
<section class="error-wrap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="text-center">
                    <img src="~/img/404.png" class="img-fluid" alt="">
                    <p>شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
                    <a class="btn theme-bg text-white btn-md" href="index.html">بازگشت به خانه</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ User Dashboard End ================================== -->
<!-- ============================ Call To Action ================================== -->
<section class="theme-bg call_action_wrap-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="call_action_wrap">
                    <div class="call_action_wrap-head">
                        <h3 class="font-2">آیا سوالی دارید؟</h3>
                        <span>ما به شما کمک خواهیم کرد تا شغل و رشد خود را افزایش دهید.</span>
                    </div>
                    <a href="#" class="btn btn-call_action_wrap">امروز با ما تماس بگیرید</a>
                </div>
            </div>
        </div>
    </div>
</section>